<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html
	lang="fr">
	<!--<![endif]-->

	<head>
		<!-- =====  BASIC PAGE NEEDS  ===== -->
		<meta charset="utf-8">
        <title>Ilunga KGA - GROUP</title>
		<!-- =====  SEO MATE  ===== -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="description" content="Location des vehicules, Recrutement des hotesses, couverture fêtes, service fetes , Produits BRALIMA ">
        <meta name="keywords" content="Location des vehicules, Recrutement des hotesses, couverture fêtes, service fetes , Produits BRALIMA ">
		<meta name="distribution" content="global">
		<meta name="revisit-after" content="2 Days">
		<meta name="robots" content="ALL">
		<meta name="rating" content="8 YEARS">
		<meta name="Language" content="en-us">
		<meta
		name="GOOGLEBOT" content="NOARCHIVE">
		<!-- =====  MOBILE SPECIFICATION  ===== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta
		name="viewport" content="width=device-width">
		<!-- =====  CSS  ===== -->
		<link rel="stylesheet" type="text/css" href="{{asset('css/font-awesome.min.css')}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('css/magnific-popup.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('css/owl.carousel.css')}}">
		{# <link rel="shortcut icon" href="{{asset('images/favicon.png')}}"> #}
		<link rel="shortcut icon" href="{{asset('images/icone.png')}}">
		<link rel="apple-touch-icon" href="{{asset('images/apple-touch-icon.png')}}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/apple-touch-icon-72x72.png')}}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{asset('images/apple-touch-icon-114x114.png')}}">
	</head>

	<body>
		<!-- =====  LODER  ===== -->
		<div class="loder"></div>
		<div
			class="wrapper">
