<div class="footer pt_60">
	<div class="container">
		<div class="newsletters mt_30 mb_50">
			<div class="row">
				<div class="col-sm-6">
					<div class="news-head pull-left">
						<h2>Suivez nous et recevez des mises à jour !</h2>
						<div class="new-desc">Soyez le premier d'avoir de nos nouvelles, reduction et promotions !</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="news-form pull-right">
						<form onsubmit="return validatemail();" method="post">
							<div class="form-group required">
								<input name="email" id="email" placeholder="Entrer votre Email" class="form-control input-lg" required="" type="email">
								<button type="submit" class="btn btn-default btn-lg">Souscrire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Information</h6>
				<ul>
					<li><a href="{{url('app_qsn_index')}}">Qui sommes-nous </a></li>
					<li><a href="{{url('app_produit_index')}}">Produits</a></li>
					<li><a href="{{url('app_privacy_index')}}">Privacy Policy</a></li>
					{# <li><a href="#">Terms & Conditions</a></li> #}
					<li><a href="{{url('app_contact_index')}}">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Services</h6>
				<ul>
					{% if services is defined and services|length > 0 %}
					{% for service in services %}
					<li><a href="#">{{service|title}}</a></li>
					{% endfor %}
					<li><a href="{{url('app_admin')}}">DashBoard</a></li>

					{% else %}
					<li><a href="#">Serbice 2</a></li>
					<li><a href="#">Serbice 2</a></li>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Service 1</a></li>
					{% endif %}

					
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Extras</h6>
				<ul>
					<li><a href="#">Recrutement</a></li>
					<li><a href="#">Connexiion</a></li>
					<li><a href="#">Creation de compte </a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h6 class="footer-title ptb_20">Contacts</h6>
				<ul>
					<li>Bureau & Dépots,</li>
					{% if parametre is defined and parametre|length > 0 %}

						<li>{{parametre.adresse}}</li>
						<li>{{parametre.phoneNumber}}</li>
						<li>{{parametre.email}}</li>
						<li>
							<a href="http://{{parametre.website}}/">{{parametre.website}}</a>
						</li>

					{% else %}
						<li>114 Avenue Mundingwa, Lubumbashi - RDC </li>
						<li>(+243) 822 0555 99 </li>
						<li>info.client@ikga.net</li>
						<li>
							<a href="http://www.ikga.net/">www.ikga.com</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom mt_60 ptb_20">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="social_icon">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="copyright-part text-center">@ 2023 Tous droit reservés IKGA</div>
				</div>
				<div class="col-sm-4">
					<div class="payment-icon text-right">
						<ul>
							<li>
								<i class="fa fa-cc-paypal "></i>
							</li>
							<li>
								<i class="fa fa-cc-visa"></i>
							</li>
							<li>
								<i class="fa fa-cc-discover"></i>
							</li>
							<li>
								<i class="fa fa-cc-mastercard"></i>
							</li>
							<li>
								<i class="fa fa-cc-amex"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
