
  <a id="scrollup"></a>
  <script src="{{asset('js/jQuery_v3.1.1.min.js')}}"></script>
  <script src="{{asset('js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('js/jquery.magnific-popup.js')}}"></script>
  <script src="{{asset('js/jquery.firstVisitPopup.js')}}"></script>
  <script src="{{asset('js/custom.js')}}"></script>
</body>

</html>