{% include "_partials/_entete.html.twig" %}
  <div class="wrapper">
    <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
      <div class="newsletter-popup"> <img class="offer" src="images/newsbg.jpg" alt="offer">
        <div class="newsletter-popup-static newsletter-popup-top">
          <div class="popup-text">
            <div class="popup-title">50% <span>off</span></div>
            <div class="popup-desc">
              <div>Sign up and get 50% off your next Order</div>
            </div>
          </div>
          <form onsubmit="return  validatpopupemail();" method="post">
            <div class="form-group required">
              <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email" class="form-control input-lg" required />
              <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
              <label class="checkme">
                <input type="checkbox" value="" id="checkme" /> Dont show again</label>
            </div>
          </form>
        </div>
      </div>
    </div>
<!-- =====  HEADER START  ===== -->
{% include "_partials/_header.html.twig" %}
<!-- =====  HEADER END  ===== -->
<!-- =====  BANNER STRAT  ===== -->
	<div class="banner"> <div class="main-banner owl-carousel">
		{% if parametre is defined %}
			<div class="item">
				{% if parametre.mainBanner1903x650Un is defined %}
					<a href="#"><img src="{{asset('images/main_banner1.jpg')}}" alt="Main Banner" class="img-responsive"/></a>
				{% else %}
					<a href="#"><img src="{{asset('images/main_banner1.jpg')}}" alt="Main Banner" class="img-responsive"/></a>
				{% endif %}
			</div>
			<div class="item">
				{% if parametre.mainBanner1903x650Deux is defined %}
					<a href="#"><img src="{{asset('images/main_banner2.jpg')}}" alt="Main Banner" class="img-responsive"/></a>
				{% else %}
					<a href="#"><img src="{{asset('images/main_banner1.jpg')}}" alt="Main Banner" class="img-responsive"/></a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
<!-- =====  BANNER END  ===== -->
<!-- =====  CONTAINER START  ===== -->
<div
	class="container">
	<!-- =====  SUB BANNER  STRAT ===== -->
	<div class="row">
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Shipping"></div>
				<h6>Livraison rapide </h6>
				<p>Sur tout de Lubumbashi</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Order"></div>
				<h6>Commandez en ligne </h6>
				<p>Heure : 8am - 11pm</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Save"></div>
				<h6>Achetez chez nous </h6>
				<p>Reduction pour gros achats</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Safe"></div>
				<h6>Achat securisé</h6>
				<p>Garantie securité 100%</p>
			</div>
		</div>
	</div>
	<div class="row ">
		<div
			class="col-sm-12 mt_30">
			<!-- =====  PRODUCT TAB  ===== -->
			<div id="product-tab" class="mt_10">
				<div class="heading-part mb_10 ">
					<h2 class="main_title">Nos produits disponibles</h2>
				</div>
				<ul class="nav text-right">
					<li class="active">
						<a href="#nArrivals" data-toggle="tab">Nouvel arrivage</a>
					</li>
					<li>
						<a href="#Bestsellers" data-toggle="tab">Meilleurs ventes </a>
					</li>
					<li>
						<a href="#Featured" data-toggle="tab">Accesseoires </a>
					</li>
				</ul>
                
				<div class="tab-content clearfix box">
					<div class="tab-pane active" id="nArrivals">
						<div class="nArrivals owl-carousel">
                            {% for produit in produits %}
							<div class="product-grid">
								<div class="item">
									<div class="product-thumb">
										<div class="image product-imageblock">
											<a href="{{url('app_produit_show', {id: produit.id})}}">
												<img data-name="product_image" src="{{asset('images/product/product9.jpg')}}" alt="iPod Classic" title="iPod Classic" class="img-responsive">
												<img src="{{asset('images/product/product9-1.jpg')}}" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											</a>
											<div class="button-group text-center">
												<div class="wishlist">
													<a href="#">
														<span>wishlist</span>
													</a>
												</div>
												<div class="quickview">
													<a href="#">
														<span>Quick View</span>
													</a>
												</div>
												<div class="compare">
													<a href="#">
														<span>Compare</span>
													</a>
												</div>
												<div class="add-to-cart">
													<a href="#">
														<span>Add to cart</span>
													</a>
												</div>
											</div>
										</div>
										<div class="caption product-detail text-center">
											<div class="rating">
												<span class="fa fa-stack">
													<i class="fa fa-star-o fa-stack-1x"></i>
													<i class="fa fa-star fa-stack-1x"></i>
												</span>
												<span class="fa fa-stack">
													<i class="fa fa-star-o fa-stack-1x"></i>
													<i class="fa fa-star fa-stack-1x"></i>
												</span>
												<span class="fa fa-stack">
													<i class="fa fa-star-o fa-stack-1x"></i>
													<i class="fa fa-star fa-stack-1x"></i>
												</span>
												<span class="fa fa-stack">
													<i class="fa fa-star-o fa-stack-1x"></i>
													<i class="fa fa-star fa-stack-1x"></i>
												</span>
												<span class="fa fa-stack">
													<i class="fa fa-star-o fa-stack-1x"></i>
													<i class="fa fa-star fa-stack-x"></i>
												</span>
											</div>
											<h6 data-name="product_name" class="product-name">
												<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
											</h6>
											<span class="price">
												<span class="amount">
													<span class="currencySymbol">$</span>70.00</span>
											</span>
										</div>
									</div>
								</div>
							</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- =====  PRODUCT TAB  END ===== -->
		</div>
	</div>
	<div class="row">
		<div class="cms_banner">
			<div class="col-xs-12 mt_60">
				<div id="subbanner4" class="sub-hover">
					<div class="sub-img">
						<a href="#"><img src="{{asset('images/sub5.jpg')}}" alt="Sub Banner5" class="img-responsive"></a>
					</div>
				</div>
			</div>
		</div>
		<div
			class="col-sm-12 mtb_10">
			<!-- =====  PRODUCT TAB  ===== -->
			<div class="mt_60">
				<div class="heading-part mb_10 ">
					<h2 class="main_title">Meilleures ventes hebdomadaire</h2>
				</div>
				<div class="latest_pro box">
					<div class="latest owl-carousel">
                        {% if produits is defined and produits|length > 0 %}
						{% for produit in produits %}
						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="{{url('app_produit_show', {id: produit.id})}}">
											<img data-name="product_image" src="images/product/product2.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product2-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>{{produit.prix}}</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
                        {% else %}
                        <div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="images/product/product2.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product2-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>8888.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="images/product/product4.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product4-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>70.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="images/product/product6.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product6-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>70.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="images/product/product8.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product8-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>70.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="{{asset('images/product/product10.jpg')}}" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="{{asset('images/product/product10-1.jpg')}}" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>70.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-grid">
							<div class="item">
								<div class="product-thumb">
									<div class="image product-imageblock">
										<a href="#">
											<img data-name="product_image" src="images/product/product2.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
											<img src="images/product/product2-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive">
										</a>
										<div class="button-group text-center">
											<div class="wishlist">
												<a href="#">
													<span>wishlist</span>
												</a>
											</div>
											<div class="quickview">
												<a href="#">
													<span>Quick View</span>
												</a>
											</div>
											<div class="compare">
												<a href="#">
													<span>Compare</span>
												</a>
											</div>
											<div class="add-to-cart">
												<a href="#">
													<span>Add to cart</span>
												</a>
											</div>
										</div>
									</div>
									<div class="caption product-detail text-center">
										<div class="rating">
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-1x"></i>
											</span>
											<span class="fa fa-stack">
												<i class="fa fa-star-o fa-stack-1x"></i>
												<i class="fa fa-star fa-stack-x"></i>
											</span>
										</div>
										<h6 data-name="product_name" class="product-name">
											<a href="#" title="Casual Shirt With Ruffle Hem">New LCDScreen and HD Vide..</a>
										</h6>
										<span class="price">
											<span class="amount">
												<span class="currencySymbol">$</span>70.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
		<div
			class="col-sm-12 mtb_10">
			<!-- =====  Blog ===== -->
			<div id="Blog" class="mt_50">
				<div class="heading-part mb_10 ">
					<h2 class="main_title">Dernières nouvelles
					</h2>
				</div>
				<div class="blog-contain box">
					<div class="blog owl-carousel ">
						<div class="item">
							<div class="box-holder">
								<div class="thumb post-img">
									<a href="#">
										<img src="images/blog/blog_img_01.jpg" alt="themini">
									</a>
									<div class="date-time text-center">
										<div class="day">
											11</div>
										<div class="month">Aug</div>
									</div>
									<div class="post-image-hover"></div>
									<div class="post-info">
										<h6 class="mb_10 text-uppercase">
											<a href="single_blog.html">Fashions fade, style is eternal</a>
										</h6>
										<p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
										<div class="view-blog">
											<div class="write-comment pull-left">
												<a href="single_blog.html">
													0 Comments</a>
											</div>
											<div class="read-more pull-right">
												<a href="single_blog.html">
													<i class="fa fa-link"></i>
													read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-holder">
								<div class="thumb post-img">
									<a href="#">
										<img src="images/blog/blog_img_02.jpg" alt="themini">
									</a>
									<div class="date-time text-center">
										<div class="day">
											11</div>
										<div class="month">Aug</div>
									</div>
									<div class="post-image-hover"></div>
									<div class="post-info">
										<h6 class="mb_10 text-uppercase">
											<a href="single_blog.html">Fashions fade, style is eternal</a>
										</h6>
										<p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
										<div class="view-blog">
											<div class="write-comment pull-left">
												<a href="single_blog.html">
													0 Comments</a>
											</div>
											<div class="read-more pull-right">
												<a href="single_blog.html">
													<i class="fa fa-link"></i>
													read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-holder">
								<div class="thumb post-img">
									<a href="#">
										<img src="images/blog/blog_img_03.jpg" alt="themini">
									</a>
									<div class="date-time text-center">
										<div class="day">
											11</div>
										<div class="month">Aug</div>
									</div>
									<div class="post-image-hover"></div>
									<div class="post-info">
										<h6 class="mb_10 text-uppercase">
											<a href="single_blog.html">Fashions fade, style is eternal</a>
										</h6>
										<p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
										<div class="view-blog">
											<div class="write-comment pull-left">
												<a href="single_blog.html">
													0 Comments</a>
											</div>
											<div class="read-more pull-right">
												<a href="single_blog.html">
													<i class="fa fa-link"></i>
													read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-holder">
								<div class="thumb post-img">
									<a href="#">
										<img src="images/blog/blog_img_04.jpg" alt="themini">
									</a>
									<div class="date-time text-center">
										<div class="day">
											11</div>
										<div class="month">Aug</div>
									</div>
									<div class="post-image-hover"></div>
									<div class="post-info">
										<h6 class="mb_10 text-uppercase">
											<a href="single_blog.html">Fashions fade, style is eternal</a>
										</h6>
										<p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
										<div class="view-blog">
											<div class="write-comment pull-left">
												<a href="single_blog.html">
													0 Comments</a>
											</div>
											<div class="read-more pull-right">
												<a href="single_blog.html">
													<i class="fa fa-link"></i>
													read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- =====  Blog end ===== -->
			</div>
		</div>
	</div>
	<!-- =====  SUB BANNER END  ===== -->
	{% if partenaires is defined and partenaires|length > 0 %}
	<div id="brand_carouse" class="ptb_60 text-center">
		<div class="type-01">
			<div class="heading-part mb_10 ">
				<h2 class="main_title">Nos partenaires
				</h2>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="brand owl-carousel ptb_20">
						{% for partenaire in partenaires %}
						<div class="item text-center">
							<a href="#"><img src="{{asset('uploads/images/parametre/'~ partenaire.photo214x140PNG)}}" alt="Disney" class="img-responsive"/></a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
{% include "_partials/_footer.html.twig" %}
<!-- =====  FOOTER END  ===== -->
{% include "_partials/_pied.html.twig" %}
