{% extends 'base.html.twig' %}

{% block title %}New Contact
{% endblock %}

{% block body %}
	{# {{ include('contact/_form.html.twig') }} #}

	<div class="col-md-4 col-xs-12 contact">
		<div class="location mb_50">
			<h5 class="capitalize mb_20">
				<strong>Notre emplacement </strong>
			</h5>
			<div class="address">Adresse de bureau
				<br>
				{{parametre.adresse}}
				<br>
				{# {{parametre.adresse}} #}
				</div>
			<div class="call mt_10">
				<i class="fa fa-phone" aria-hidden="true"></i>{{parametre.phoneNumber}}</div>
		</div>
		<div class="Career mb_50">
			<h5 class="capitalize mb_20">
				<strong>Careers</strong>
			</h5>
			<div class="address">{{parametre.slogan}}
			</div>
			<div class="email mt_10">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<a href="mailto:{{parametre.email}}" target="_top">{{parametre.email}}</a>
			</div>
		</div>
		<div class="Hello mb_50">
			<h5 class="capitalize mb_20">
				<strong>Sentez-vous aimez</strong>
			</h5>
			<div class="address">{{parametre.slogan}}</div>
			<div class="email mt_10">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<a href="mailto:{{parametre.email}}" target="_top">{{parametre.email}}</a>
			</div>
		</div>
	</div>
	<div
		class="col-md-8 col-xs-12 contact-form mb_50">
		<!-- Contact FORM -->
		<div id="contact_form">
			<form
				id="contact_body" method="post" action="{{url('app_contact_new')}}">
				<!--                                <label class="full-with-form" ><span>Name</span></label>
				-->
				<input
				class="full-with-form " type="text" name="name" placeholder="Nom" data-required="true"/>
				<!--                <label class="full-with-form" ><span>Email Address</span></label>
				-->
				<input
				class="full-with-form  mt_30" type="email" name="email" placeholder="Email Address" data-required="true"/>
				<!--                <label class="full-with-form" ><span>Phone Number</span></label>
				-->
				<input
				class="full-with-form  mt_30" type="text" name="phone1" placeholder="Phone Number" maxlength="15" data-required="true"/>
				<!--                <label class="full-with-form" ><span>Subject</span></label>
				-->
				<input class="full-with-form  mt_30" type="text" name="subject" placeholder="Subject" data-required="true">
				<!--                                <label class="full-with-form" ><span>Attachment</span></label>
				-->
				<!--                                <label class="full-with-form" ><span>Message</span></label>
				--><textarea class="full-with-form  mt_30" name="message" placeholder="Message" data-required="true"> </textarea>
				<button class="btn btn-primary mt_30" type="submit">Envoyez le Message</button>
			</form>
			<div id="contact_results"></div>
		</div>
		<!-- END Contact FORM -->
	</div>
{% endblock %}
